@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto;
}

.title-area {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    padding-right: 220px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 140px;
    font-size: 24px;
    font-weight: 600;
}

.header a,
.title-left p {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

.title-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
    gap: 36px;
}

.title-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.title-left button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
}

.title-content img {
    flex: 1 1 1200px;
    border-radius: 10px;
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.information-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.four-images {
    display: flex;
    gap: 65px;
    align-items: center;
}

.img1, .img2, .img3, .img4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 165px;
}

.four-images img {
    width: 165px;
    height: 165px;
    border-radius: 16px;
}

.four-images p {
    text-align: center;
    color: #666666;
}

.quote-area {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 104px;
    padding-right: 360px;
    padding-left: 360px;
}

.quote-area p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    margin: 0px;
}

#unbekannt {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
    font-style: normal;
    padding-right: 75px;
}
